<div class="header-home">
  <img src="/img/shape1.svg" class="shape1" alt="">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>About</h1>
      </div>
    </div>
  </div>
</div>
